%header
  %nav
    %ul
      %li
        = link_to "Resume", resume_path
      %li
        = link_to "Work", portfolio_path
      %li
        = link_to "Blog", articles_path
      %li
        = link_to "Connect", contact_path
    %a#pull{:href => "#"} Menu
    = link_to(image_tag("logo-simple.svg", :alt => "Bruce McElroy | visualbam", :rel => "logo"), root_path)
    %h1 Bruce McElroy
    .colorBar
