%header
  %nav
    %ul
      %li
        = link_to "Resume", resume_path
      %li
        = link_to "Portfolio", portfolio_path
      %li
        = link_to "Blog", articles_path
      %li
        = link_to "Contact", contact_path
    %a#pull{:href => "#"} Menu
    = link_to(image_tag("logo-simple.svg", :alt => "visualbam", :rel => "logo"), root_path)
    .colorBar
