#portfolio
  %section
    .row
      .content
        %h1 Hello there,
        %p 
          I am Bruce McElroy. Positive Thinker, UI/UX Junkie, Designer and Dog Lover. I do what I do because I love making people happy.
        %a{class: "button depth", href: "http://instagram.com/visualbam", target: "_blank"} View my instagram shots!
  %section.images
    .row
      %div
        = link_to (image_tag("portfolio/img1.jpg"))
      %div
        = link_to (image_tag("portfolio/img2.jpg"))
      %div
        = link_to (image_tag("portfolio/img3.jpg"))
      %div
        = link_to (image_tag("portfolio/img4.jpg"))
      %div
        = link_to (image_tag("portfolio/img5.jpg"))
      %div
        = link_to (image_tag("portfolio/img6.jpg"))
      %div
        = link_to (image_tag("portfolio/img7.jpg"))
      %div
        = link_to (image_tag("portfolio/img8.jpg"))
      %div
        = link_to (image_tag("portfolio/img9.jpg"))
      %div
        = link_to (image_tag("portfolio/img10.jpg"))
      %div
        = link_to (image_tag("portfolio/img11.jpg"))
      %div
        = link_to (image_tag("portfolio/img12.jpg"))
      %div
        = link_to (image_tag("portfolio/img13.jpg"))
      %div
        = link_to (image_tag("portfolio/img14.jpg"))
      %div
        = link_to (image_tag("portfolio/img15.jpg"))
      %div
        = link_to (image_tag("portfolio/img16.jpg"))
      %div
        = link_to (image_tag("portfolio/img17.jpg"))
      %div
        = link_to (image_tag("portfolio/img18.jpg"))
      %div
        = link_to (image_tag("portfolio/img19.jpg"))
      %div
        = link_to (image_tag("portfolio/img20.jpg"))
      %div
        = link_to (image_tag("portfolio/img21.jpg"))
