!!!
%html
  %head
    %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0" }
    %title visualbam | Bruce McElroy | Portfolio
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'layouts/includes/nav'
    .main-container
      .main.wrapper.clearfix
        = yield
    = render 'layouts/includes/footer'
    = javascript_include_tag "application", "data-turbolinks-track" => true
    :javascript
      jQuery("body").prepend('<div class="spinner"></div>');
      jQuery(document).ready(function() {
          jQuery(".spinner").fadeOut(800);
      });